@model TestHR.Web.Areas.Admin.Models.BranchModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Add New Branch</div>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Branch Settings</span><br>
                        @using (Html.BeginForm("Add", "Branch", FormMethod.Post))
                        {
                            @Html.ValidationSummary(true)
                            <div class="row">
                            <div class="row">
                                <div class="input-field col s6">
                                    @Html.DisplayNameFor(model => model.Name)
                                    @Html.TextBoxFor(model=>model.Name)
                                    @Html.ValidationMessageFor(model=>model.Name)
                                </div>
                                <div class="input-field col s6">
                                    @Html.DisplayName("Company")
                                    @Html.DropDownListFor(m => m.CompanyId, new SelectList(Model.Company, "Id", "Name"), "--Select--", new { @class = "" })
                                    @Html.ValidationMessageFor(model => model.CompanyId)
                                </div>
                                <div class="input-field col s6">
                                    @Html.DisplayNameFor(model => model.Description)
                                    @Html.TextBoxFor(model => model.Description)
                                </div>

                            </div>
                        </div>
                        <div class="row">  
                            <div class="col s4 offset-m7 offset-m1">
                                <input type="submit" class="btn btn-default green col s4 offset-m1" value="Save" />
                                @Html.ActionLink("Cancel", "Index", "Branch", null, new { @class = "btn btn-default red col s4 offset-m1" })
                            </div>
                        </div>
                        }
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

}