@model IEnumerable<TestHR.Entities.Company>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/Plugins/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Company List</div>
        </div>
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Companies</span>
                    <table id="companyList" class="display responsive-table datatable-example">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Contact Person</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>
                        </thead>                        
                        <tbody>
                            @foreach (var company in Model)
                            {
                                <tr>
                                    <td>@company.Name</td>
                                    <td>@company.Email</td>
                                    <td>@company.Phone</td>
                                    <td>@company.ContactPerson</td>
                                    <td>@company.ContactPersonEmail</td>
                                    <td>@company.ContactPersonPhone</td>
                                    <td><a class="btn-floating waves-effect waves-light green"><i class="material-icons">edit</i></a>
                                        <a class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></a>
                                    </td>
                                </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts
{

    <script src="~/Plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#companyList').DataTable({
                language: {
                    searchPlaceholder: 'Search Company',
                    sSearch: '',
                    sLengthMenu: 'Show _MENU_',
                    sLength: 'dataTables_length',
                    oPaginate: {
                        sFirst: '<i class="material-icons">chevron_left</i>',
                        sPrevious: '<i class="material-icons">chevron_left</i>',
                        sNext: '<i class="material-icons">chevron_right</i>',
                        sLast: '<i class="material-icons">chevron_right</i>'
                    }
                }
            });
            $('.dataTables_length select').addClass('browser-default');
        });
    </script>
}

