@model TestHR.Web.Areas.Admin.Models.DepartmentModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Add New Department</div>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Department Settings</span><br>
                    @using (Html.BeginForm("Add", "Department", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true)
                        <div class="row">
                            <div class="row">
                                <div class="input-field col s6">
                                    @Html.TextBoxFor(model => model.DepartmentName)  
                                    @Html.LabelFor(model=>model.DepartmentName)
                                    @Html.ValidationMessageFor(model => model.DepartmentName)
                                </div>
                                <div class="input-field col s6">
                                    @Html.DropDownListFor(model => model.CompanyId, new SelectList(Model.Company, "Id", "Name"), "--Select--")
                                    @Html.LabelFor(model => model.CompanyId)
                                    @Html.ValidationMessageFor(model => model.CompanyId)
                                </div>
                                <div class="input-field col s6">
                                    @Html.DropDownListFor(model => model.DepartmentHeadId, new SelectList(Enumerable.Empty<SelectListItem>()), "--Select--", new { @class = "" })
                                    @Html.LabelFor(model => model.DepartmentHeadId)
                                    @Html.ValidationMessageFor(model => model.DepartmentHeadId)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4 offset-m7 offset-m1">
                                <input type="submit" class="btn btn-default green col s4 offset-m1" value="Save" />
                                @Html.ActionLink("Cancel", "Index", "Department", null, new { @class = "btn btn-default red col s4 offset-m1" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts{
    @*<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
    @Scripts.Render("~/bundles/jqueryval")
    
}