@model IEnumerable<TestHR.Web.Areas.Admin.Models.LeaveReportViewModel>
@{
    ViewBag.Title = "LeaveReport";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
                      <link href="~/Plugins/sweetalert/sweetalert.css" rel="stylesheet" />
                      <link href="~/Plugins/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
                      <main class="mn-inner">
                          <div class="row">
                              <div class="col s12">
                                  <div class="page-title">Leave Types</div>
                              </div>
                              <div class="col s12 m12 l12">
                                  <div class="card">
                                      <div class="card-content">
                                          <span class="card-title">Leave Types</span>
                                          <table id="leaveTypeList" class="display responsive-table datatable-example">
                                              <thead>
                                                  <tr>
                                                      <th>Name</th>
                                                      <th>Leaves</th>
                                                      <th>Action</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  @foreach (var leaveReport in Model)
                                                  {
                                                      <tr>
                                                          <td>@leaveReport.Employee.FirstName @leaveReport.Employee.MiddleName @leaveReport.Employee.LastName</td>
                                                          <td>
                                                              <table class="table table-bordered">
                                                                  <tr>
                                                                      @foreach (var leaveType in leaveReport.LeaveType)
                                                                      {
                                                                          <td>@leaveType.Name</td>
                                                                      }
                                                                  </tr>
                                                                  <tr>
                                                                      @foreach (var leaveType in leaveReport.LeaveType)
                                                                      {
                                                                          <td>@leaveType.NumberOfDays</td>
                                                                      }
                                                                  </tr>
                                                              </table>
                                                          </td>

                                                          <td>
                                                              <a href="@Url.Action("","",new{id=leaveReport.Employee.Id})" class="btn-floating waves-effect waves-light green"><i class="material-icons">edit</i></a>
                                                            
                                                          </td>
                                                      </tr>
                                                  }

                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </main>

                      @section scripts
    {
                          <script src="~/Plugins/sweetalert/sweetalert.min.js"></script>
                          <script src="~/Plugins/datatables/js/jquery.dataTables.min.js"></script>
                          <script type="text/javascript">
                              $(document).ready(function () {
                                  $('#leaveTypeList').DataTable({
                                      language: {
                                          searchPlaceholder: 'Search Leave Type',
                                          sSearch: '',
                                          sLengthMenu: 'Show _MENU_',
                                          sLength: 'dataTables_length',
                                          oPaginate: {
                                              sFirst: '<i class="material-icons">chevron_left</i>',
                                              sPrevious: '<i class="material-icons">chevron_left</i>',
                                              sNext: '<i class="material-icons">chevron_right</i>',
                                              sLast: '<i class="material-icons">chevron_right</i>'
                                          }
                                      }
                                  });
                                  $('.dataTables_length select').addClass('browser-default');

                                  $('.sweetalert-warning').click(function () {
                                      var url = '@Url.Action("Delete", "LeaveType")';
                                      var id = $(this).data('id');
                                      console.log(id);
                                      swal({
                                          title: "Are you sure?",
                                          text: "You will not be able to recover this imaginary file!",
                                          type: "warning",
                                          showCancelButton: true,
                                          confirmButtonColor: "#DD6B55",
                                          confirmButtonText: "Yes, delete it!",
                                          closeOnConfirm: false
                                      }, function () {
                                          $.ajax({
                                              url: url,
                                              type: 'POST',
                                              data: { id: id }
                                          }).done(function (data) {
                                              swal({
                                                  title: "Deleted!",
                                                  text: "Your imaginary file has been deleted.",
                                                  type: "success"
                                              }, function () {
                                                  location.reload();
                                              });
                                          }).fail(function () {
                                              $.alert("There is something wrong! Please try again.", '<i class="fa fa-exclamation-circle" aria-hidden="true"> Alert</i>');
                                          });

                                      });

                                  });
                              });
                          </script>
                      }

